<ion-content [fullscreen]="true">
  <div class="main-container">
    <img src="../../../assets/imgs/Logo.svg" alt="Logo" class="logo-img" />

    <div class="info-container">
      <p>Entre com suas credenciais</p>

      <div class="input-container">
        <app-generic-input-text [placeholder]="'E-mail'" [type]="'email'"
          [(inputValue)]="email"></app-generic-input-text>
        <app-generic-input-text [placeholder]="'Senha'" [type]="'password'"
          [(inputValue)]="password"></app-generic-input-text>
      </div>

      <p class="forgot-password-text">Esqueceu a senha?</p>

      <div class="buttons-container">
        <app-button [text]="'Entrar'" [color]="'app-black'" [className]="'signInButton'"
          (buttonClick)="Login()"></app-button>
        <app-button [text]="'Cadastre-se'" [color]="'app-yellow'" [className]="'signUpButton'"></app-button>
      </div>
    </div>
  </div>
</ion-content>