ion-content {
  --background: var(--ion-color-app-light-blue);

  .main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .info-container {
      width: 95%;

      p {
        margin: 0;
      }

      .input-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }

    .forgot-password-text {
      text-align: end;
      color: var(--ion-color-app-black);
      font-weight: bold;
    }

    .buttons-container {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    ::ng-deep .signInButton {
      min-width: 59.7vw;
      height: fit-content;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    ::ng-deep .signUpButton {
      min-width: 50vw;
      height: fit-content;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
