.ride-search-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-card {
    padding: 1rem 1rem 2rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 16px;
    margin: 0;
  }

  app-button {
    position: relative;
    top: -32px;
  }
}
