ion-button {
  --border-radius: 32px;
  --padding-top: 14px;
  --padding-bottom: 14px;
  --padding-start: 18px;
  --padding-end: 18px;
  font-weight: bold;
  text-transform: none;
  font-size: 1.25rem;
  letter-spacing: -1px;
}