h1 {
  font-weight: bold;
}

ion-card {
  padding-top: 64px;
}

img {
  height: 128px;
  position: relative;
  bottom: -64px;
  z-index: 1;
}

.rides-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top: -64px;
}
