h4 {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-info,
.right-info {
  font-size: 1.15rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-icon {
  height: 42px;
  width: 42px;
}
