<ion-tabs #tabs>
  <ion-fab vertical="bottom" horizontal="center">
    <ion-fab-button color="app-yellow" routerLink="ride-search">
      <ion-icon name="search" color="app-black"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom" color="app-black">
    <ion-tab-button tab="messages">
      <ion-icon [name]="getIconName('chatbubbles', 'messages')" color="app-yellow"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="rides-history">
      <ion-icon [name]="getIconName('car', 'rides-history')" color="app-yellow"></ion-icon>
    </ion-tab-button>

    <ion-tab-button disabled> </ion-tab-button>

    <ion-tab-button tab="create-ride">
      <ion-icon [name]="getIconName('add-circle', 'create-ride')" color="app-yellow"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon [name]="getIconName('person', 'profile')" color="app-yellow"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
